<div class="col-six tab-full right">
    <h3>Programlama Dilleri & Teknolojiler</h3>

    <ul class="skill-bars">
        <li>
           
            <strong>HTML5</strong>
        </li>
        <li>
            
            <strong>CSS3</strong>
        </li>
        <li>
          
            <strong>C#</strong>
        </li>
        <li>
           
            <strong>React</strong>
        </li>
        <li>
            
            <strong>Github</strong>
        </li>
        <li>
          
            <strong>PostgreSQL</strong>
        </li>
    </ul>
</div>